/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    color: #d7d7d7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    line-height: 27px;
}

#wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding-top: 75px;
}

/* Board */
#blackboard {
    background-color: #545454;
    width: 924px;
    height: 565px;
    margin: 0 auto;
    padding-top: 14px;
    padding-left: 50px;
    cursor: crosshair;
}

#drawingCanvas {
    position: absolute;
    border: none;
    color: #ffffff;
    overflow: hidden;
    background-color: transparent;
}

#tempCanvas {
    position: absolute;
    height: 532px;
    width: 897px;
    overflow: hidden;
}

/* Tool Selector */
#selector {
    position: absolute;
    z-index: 3;
    margin-top: -30px;
}

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: #eaeaea;
}

/* Chalk Colors */
#whiteChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 80px;
}
#redChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 160px;
}
#orangeChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 240px;
}
#yellowChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 320px;
}
#greenChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 400px;
}
#blueChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 480px;
}
#pinkChalk {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 620px;
    left: 560px;
}

/* Duster */
#duster {
    cursor: pointer;
    position: absolute;
    background-image: url(../img/eraser.png);
    left: 737px;
    top: 600px;
    width: 140px;
    height: 50px;
    z-index: 3;
}

/* Stroke Functions */
#strokeNumber {
    position: absolute;
    width: 43px;
    top: 100px;
    left: 4px;
    z-index: 3;
    padding: 0;
    background-color: #202020;
    color: #ffffff;
    border: 0;
    padding-left: 1px;
    height: 20px;
    cursor: pointer;
}

#strokeSelector {
    background-color: #202020;
    width: 43px;
    height: 158px;
    position: absolute;
    top: 125px;
    left: 4px;
    z-index: 3;
    margin: 0;
    padding: 0;
}

.stroke {
    cursor: pointer;
    margin-left: 6px;
    margin-top: 4px;
}

/* Save */
#saveWrapper {
    cursor: pointer;
    position: absolute;
    right: -8px;
}

#downloadImage {
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    overflow: hidden;
}

/* Color Swatch */
#colorTable {
    width: 231px;
    height: 132px;
    position: absolute;
    margin-top: 50px;
    z-index: 4;
    right: 13px;
    background-color: #000000;
    display: none;
    cursor: pointer;
}

.color {
    position: relative;
    height: 7px;
    width: 7px;
    float: left;
    padding: 1px;
    margin: 1px;
}

.color:hover {
    border: 1px solid #ffffff;
    margin: 0px;
}

#color {
    position: absolute;
    right: -8px;
    margin-right: 0px;
    margin-top: 40px;
    z-index: 3;
    cursor: pointer;
    overflow: hidden;
}

/* Clear Canvas */
#clearPad {
    position: absolute;
    right: -8px;
    margin-right: 0;
    margin-top: 70px;
    cursor: pointer;
    overflow: hidden;
    z-index: 3;
}

/* Footer */
footer {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #222;
    color: #ddd; font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
    text-decoration: none; color: #bbb; font-style: Arial, Helvetica, sans-serif
}